@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');
:root {
    --white:rgb(255, 255, 255);
    --main-color:green;
    --bg-color:#F5F6FA;
    --main-text:#5EC394;
    --font-color:rgb(190, 190, 190);
    --primary-btn:#5EC394;
    --btn-hover:#30BB7A;
}
body{
    background-color: var(--bg-color);    
    /* font-family: 'Poppins', sans-serif; */
}
.navbar{
    height: 95px;
    background-color: var(--white);    
}
.sidebar {
    margin: 0;
    padding-top: 30px;
    width: 250px;
    background-color:var(--white);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {    
    display: block;
    color: var(--font-color);
    text-align: left;
    padding:14px;
    margin-left: 60px;    
    text-decoration: none;    
    display: block;
  }
   
  .active:hover{   
    color: var(--main-text);
    width: 160px;
    background-color: var(--bg-color);
    border-radius: 15px;
    
  }
  .fas{
      margin-right: 10px;
  }
  .logo{
      color: var(--main-text);
      margin-left: 60px;       
      font-weight: bold;
      padding-right: 30px;
  }
  .complaint{
      margin-left:90px;  
      margin-right: 60px;        
  }
 .form-control{
     background-color: var(--bg-color);
 }
 .modal-header{
     border: none;
 }
 .modal-header .modal-title{
    margin-left:90px;  
 }
 .btn{
     background-color:var(--primary-btn);
     color: var(--white);
     border-radius: 3px;
 }
 .btn:hover{
     background-color: var(--btn-hover);
     color: var(--white);
 }
  /* .form-input{
      width: 400px;
  } */
  .modal-content{
    background-color: var(--bg-color);
  }
  .search{      
      width: 300px;  
      /* padding-right: 70px; */
      
  }
  .search-input{      
      border-radius: 100px;  
      background-color: var(--bg-color); 
      border: none;   
      height: 40px;      
      
  }
  .nav-link{
      color: var(--font-color);         
  }
  .nav-item{
      padding-right: 50px;
  }
  .nav-link:hover{
      color: var(--main-text);
  }
.line{
    border-left: 1px solid var(--font-color);    
    height: 60px;
    margin-right: 80px;
    font-size: 12px;
    color: var(--font-color);
}
.profile{
    margin-left: 30px;  
    padding-right: 10px; 
}
.user{
    border: 1px solid var(--primary-btn);
    border-radius: 50px;
    height: 50px;
    width: 50px;
}